/*!************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./scss/style.scss ***!
  \************************************************************************************************************/
@media (max-width: 500px) {
  .main__section {
    background: white;
    background: linear-gradient(180deg, bisque 20%, var(--orange) 100%) !important; } }

@media (max-width: 500px) {
  .main__section .main__title {
    color: #ffa900 !important; } }

@media (max-width: 500px) {
  .main__section .todo__section {
    flex-direction: column !important; } }

@media (max-width: 500px) {
  .main__section .todo__form__section, .main__section .todo__list__section {
    width: 100% !important; } }

@media (max-width: 500px) {
  .main__section .todoForm {
    box-shadow: 5px 5px 17px grey;
    border: 3px solid var(--orange); } }

@media (max-width: 1200px) {
  .main__section .todo__list__section {
    padding: 0rem 5rem !important; } }

@media (max-width: 750px) {
  .main__section .todo__list__section {
    padding: 0rem 2rem !important; } }

@media (max-width: 500px) {
  .main__section .todo__list__section {
    margin-top: calc(var(--index) * 5);
    padding: 0 10% !important; } }

*, html, body, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * .alert, html .alert, body .alert, h1 .alert {
    position: absolute;
    z-index: 999;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.779);
    padding: calc(var(--index) * 1) calc(var(--index) * 1.5);
    color: bisque;
    border-radius: 1rem;
    animation: .5s ease 0s showAlert, .5s ease 2.6s hideAlert; }
    * .alert .alert__msg, html .alert .alert__msg, body .alert .alert__msg, h1 .alert .alert__msg {
      text-align: center;
      font-family: dancingSCript;
      font-size: calc(var(--index) * 1); }

html {
  min-height: 100%; }

body {
  min-height: 100%; }

:root {
  --index: calc(1vw + 1vh);
  --orange: rgba(255,169,0,1);
  --sizeWriter: calc(var(--index) * 1); }

@font-face {
  font-family: dancingSCript;
  src: url(3e7e73f4e34e4945f363.ttf); }

.title {
  font-family: dancingSCript;
  font-size: calc(var(--index) * 1.7); }

.button {
  background-color: transparent !important;
  cursor: pointer;
  border: none;
  outline: none; }

.main__section {
  background: white;
  background: linear-gradient(90deg, bisque 50%, var(--orange) 50%);
  min-height: 100vh;
  height: auto;
  height: fit-content; }
  .main__section .main__title {
    position: relative;
    top: calc(var(--index) * 1.79);
    font-family: dancingSCript;
    text-align: center;
    letter-spacing: calc(var(--index) * 1.07);
    text-transform: uppercase;
    font-size: calc(var(--index) * 2); }
  .main__section .todo__section {
    margin-top: calc(var(--index) * 5);
    display: flex;
    height: 100%; }
    .main__section .todo__section .todo__form__section {
      width: 50%;
      display: flex;
      justify-content: center; }
      .main__section .todo__section .todo__form__section .form__title {
        color: var(--orange);
        text-align: center; }
      .main__section .todo__section .todo__form__section .todoForm {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        margin-top: calc(var(--index) * 2);
        border: 1px solid var(--orange);
        padding: 1rem 1rem;
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 15);
        border-radius: 1em; }
        .main__section .todo__section .todo__form__section .todoForm .input_todo {
          background-color: transparent;
          border: none;
          font-family: dancingSCript;
          text-align: center;
          font-size: calc(var(--index) * 2);
          color: grey;
          width: 100%;
          line-height: calc(var(--index) * 2);
          height: 100%; }
          .main__section .todo__section .todo__form__section .todoForm .input_todo:focus-visible {
            outline: none; }
        .main__section .todo__section .todo__form__section .todoForm .todo_footer {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
          align-items: flex-end;
          border-top: 1px solid var(--orange); }
          .main__section .todo__section .todo__form__section .todoForm .todo_footer .input_writer {
            background-color: transparent;
            border: none;
            font-family: dancingSCript;
            font-size: var(--sizeWriter);
            color: grey;
            height: min-content; }
            .main__section .todo__section .todo__form__section .todoForm .todo_footer .input_writer:focus-visible {
              outline: none; }
          .main__section .todo__section .todo__form__section .todoForm .todo_footer .send__button {
            padding: calc(var(--index) * .2) calc(var(--index) * 1);
            border: 1px solid var(--orange);
            outline: none;
            border-radius: 1em;
            transition: .2s ease 0s;
            margin-top: calc(var(--index) * 1);
            font-family: dancingSCript;
            font-size: calc(var(--index) * .9);
            color: grey; }
            .main__section .todo__section .todo__form__section .todoForm .todo_footer .send__button:hover {
              background-color: var(--orange) !important;
              border: 1px solid white;
              color: white;
              transform: scale(1.2);
              transition: .4s ease 0s; }
    .main__section .todo__section .todo__list__section {
      width: 50%;
      padding: 0rem 10rem; }
      .main__section .todo__section .todo__list__section .list__title {
        color: bisque;
        text-align: center; }
      .main__section .todo__section .todo__list__section .todo__list__filter {
        width: 100%;
        position: relative;
        margin-top: calc(var(--index) * 2);
        background-color: bisque;
        padding: 1rem 0;
        border-radius: 1rem;
        height: calc(var(--index) * 2);
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .main__section .todo__section .todo__list__section .todo__list__filter .filter__btn {
          color: var(--orange);
          padding: calc(var(--index) * .3);
          border-radius: 1rem;
          transition: .5s ease 0s; }
        .main__section .todo__section .todo__list__section .todo__list__filter .active {
          border: 1px solid var(--orange);
          transition: .3s ease 0s; }
      .main__section .todo__section .todo__list__section .card__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        position: relative;
        margin-top: calc(var(--index) * 3); }
        .main__section .todo__section .todo__list__section .card__container .card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          background-color: bisque;
          width: 100%;
          border-radius: 1rem;
          padding: 1rem 2rem;
          margin-bottom: 1.5rem; }
          .main__section .todo__section .todo__list__section .card__container .card .complete__button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(var(--index) * 1.6);
            height: calc(var(--index) * 1.6);
            background-color: white !important;
            border-radius: 10rem;
            padding: 0.5rem; }
            .main__section .todo__section .todo__list__section .card__container .card .complete__button .completed {
              display: block;
              content: ' ';
              width: calc(var(--index) * .4);
              height: calc(var(--index) * .8);
              border-bottom: 3px solid var(--orange);
              border-right: 3px solid var(--orange);
              transform: rotate(30deg); }
          .main__section .todo__section .todo__list__section .card__container .card .informations {
            display: flex;
            flex-direction: column; }
            .main__section .todo__section .todo__list__section .card__container .card .informations .card_writer {
              font-family: dancingSCript;
              color: black;
              font-size: var(--sizeWriter); }
            .main__section .todo__section .todo__list__section .card__container .card .informations .card_todo {
              font-family: dancingSCript;
              color: var(--orange);
              font-size: calc(var(--index) * 1.5);
              height: min-content;
              transition: .2s ease 0s; }
            .main__section .todo__section .todo__list__section .card__container .card .informations .completed {
              text-decoration: line-through;
              color: #a4a4a4;
              transition: .2s ease 0s; }
        .main__section .todo__section .todo__list__section .card__container .completed {
          opacity: 0.5;
          transition: .2s ease 0s; }

@keyframes showAlert {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes hideAlert {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

